@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
}

.bg {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: #fff;
}

.previous {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #030303;
    cursor: pointer;
}

.picture {
    display: block;
    margin: 0 auto;
    height: 150px;
    max-width: 100%;
    object-fit: contain;
    border: none;
    border-radius: 50%;
}

.profile {
    color: #fff;
    z-index: 2;
    line-height: 1;
}

.aw-title {
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.aw-size {
    margin-top: 1rem;
    text-align: center;
    color: #cbcbcb;
}

.at-name {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.video {
    margin: 2rem 0;
    position: relative;
}

.media {
    position: relative;
    display: block;
    width: 87%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    z-index: 1;
    border-radius: 5px;
    height: 23vh;
}

/* Slider */
.slider {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    line-height: 1.5;
}

.slider h3 {
    margin-bottom: 10px;
}

.slick-slide {
    margin: 0 20px;
}


.slick-slide {
    transition: all ease-in-out 0.3s;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Fin Slider */


.separator {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
}

hr {
    height: 5px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.big {
    width: 80%;
}

.small {
    width: 20%;
}

.text {
    padding: 0 1rem;
    text-align: center;
}

.artwork-img {
    display: block;
    width: 90%;
    object-fit: cover;
    margin: 1rem auto;
}

.artworks-img {
    display: block;
    width: 90%;
    margin: 1rem auto;
}

.see-also {
    margin-bottom: calc(80px + 1vh);
}

.see-also img {
    margin: 0 auto;
}

.previous {
    top: 1rem;
    left: 1rem;
    background-color: #fff;
    border-radius: 39px;
    padding: 6px;
    display: flex;
}

.message-slide {
    text-align: center;
    margin-left: 5px;
    font-style: italic;
    color: #cbcbcb;
    margin-bottom: 10px;
}

.message-slide img {
    margin-right: 5px;
}

#audio {
    margin: auto;
}

.message-immersion {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #cbcbcb;
}

.feedback {
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 1px solid;
    border-top: 0;
    padding: 25px;
    margin: 15px;
    border-radius: 25px;
    position: relative; /* Définir la position relative pour la section */

}

.feedback h2 {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    text-transform: uppercase;
}

.feedback p {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}

.feedback h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.feedback textarea {
    margin-top: 15px;
    width: 100%;
    height: 5rem;
    resize: none;
    border-radius: 20px;
    border: 10px solid transparent;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.feedback textarea::placeholder {
    text-align: center;
    font-family: "Inter", sans-serif;
}


.floating-button {
    position: fixed;
    bottom: 90px;
    right: 20px;

}

.floating-button button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    display: grid;
    place-items: center;
}

.floating-button button:hover {
    background-color: #f1f1f1;
}