@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Inter", sans-serif;
    --font-size: 16px;
    --regular: 400;
    --dark: #010101;
    --white: #fcfcfc;
    --primary: #e88bb2;
    --secondary: #e8b6cb;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--regular);
    color: var(--dark);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/landing-bg.png") no-repeat center/cover var(--white);
}

label {
    font-weight: 600;
    text-indent: 10px;
    margin-bottom: 0.5rem;
}

input {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 13px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border: 1px solid var(--primary);
}

a {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: underline;
}

.btn {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 600;
    width: 12rem;
    padding: 0.5rem 1rem;
    border-radius: 22px;
    cursor: pointer;
    text-align: center;
    margin: 2rem auto 0 auto;
}

.primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.secondary {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.previous {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #fff;
    border-radius: 39px;
    padding: 6px;
    display: flex;
}


.error-box {
    margin-top: 10px;
    padding: 10px;
    background-color: #ff0000;
    border-radius: 13px;

}

.error-message {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

.error-message img{
    margin-right: 10px;
}

.container {
    width: 100%;
    max-width: 380px;
    border-radius: 20px;
    color: #fcfcfc;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1.5rem;
}

.center {
    display: block;
    margin: 1.5rem auto 0 auto;
}

.btn {
    color: #030303;
}
