@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 59px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #030303;
    background-color: #333;
}

.top-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapollon {
    width: 36px;
    height: 36px;
}


.filters {
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container {
    padding-top: 1rem;
}

.pin-icon {
    width: 24px;
    height: 24px;
}

/*############################### */
/*###### POPUP ARTIST LIST ###### */
/*############################### */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-image: url("../img/landing-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 60px 20px 20px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.btn_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ffe09d;
    width: 40px;
    border-radius: 23px;
    height: 40px;
    z-index: 2;
    border: 1px solid black;
}

.btn_close img {
    width: 37px;
}

.top-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
}

.container {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 3rem 0;
    text-align: center;
}

/* Masonry grid */
.masonry {
    column-gap: 30px;
    column-fill: initial;
}

.masonry a {
    text-decoration: none;
}

/* Masonry item */
.masonry .brick {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

/* Content wrapper for image and text */
.content-wrapper {
    position: relative;
}

.content-wrapper h2 {
    font-size: 14px;
    color: #000;
}

/* Image inside content wrapper */
.content-wrapper img {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
}

/* Text container for headings */
.text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
}

/* H2 styling */
.text-container h2, .text-container h3 {
    margin: 0;
}

.span {
    font-weight: 700;
}


/* Gutterless masonry */
.masonry.gutterless {
    column-gap: 0;
}

.masonry.gutterless .brick {
    margin-bottom: 0;
}

/* Masonry on tablets */
@media only screen  and (max-width: 1023px) {
    .masonry {
        column-count: 2;
    }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
    .desc {
        font-size: 1.25em;
    }

    .intro {
        letter-spacing: 1px;
    }

    .masonry {
        column-count: 3;
    }
}