@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #030303;
    margin: 0;
}

body {
    background-image: url("../img/landing-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
}

.user-banner {
    height: 7vh;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
}

.user-banner img {
    height: 30px;
}

.user-infos-section {
    padding: 35px 0 0 20px;
    color: #ffffff;

}

.infos-title {
    border-left: 5px solid #ffffff;
    padding-left: 13px;
}

.user-form {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.user-form input {
    height: 2.5rem;
    border: none;
    width: 100%;
    display: flex;
    margin-bottom: 12px;
    border-radius: 0 20px 20px 0;
}

.inputs input[type="text"]::placeholder {
    padding-left: 15px;
    font-size: 15px;
}

.inputs {
    border-radius: 0 20px 20px 0;
    margin: 0 90px 18px 0;
    background: #FFE09D;
    height: 50px;
}

.save {
    margin-top: 5rem;
}

.save button {
    height: 3rem;
    width: 90%;
    border-radius: 0 20px 20px 0;
    border: none;
    background: #FFE09D;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.save span {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.save img {
    margin-right: 7px;
}