@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    font-size: 16px;
    color: #030303;
    background: url("../img/landing-bg.png") no-repeat;
    background-size: cover;
}

.user-banner {
    height: 7vh;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
}

.user-banner img {
    height: 30px;
}

.user-infos-section {
    padding: 35px 0 0 20px;
    color: #ffffff;
}

.infos-title {
    border-left: 5px solid #ffffff;
    padding-left: 13px;
}

.user-form {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.user-form input {
    height: 2.5rem;
    border: none;
    width: 100%;
    display: flex;
    margin-bottom: 12px;
    border-radius: 0 20px 20px 0;
    text-indent: 15px;
}

.inputs input[type="text"]::placeholder {
    font-size: 15px;
}

.inputs {
    border-radius: 0 20px 20px 0;
    margin: 0 90px 18px 0;
    background: #ffe09d;
    height: 50px;
}

.save {
    margin-top: 5rem;
    cursor: pointer;
}

.save button {
    height: 3rem;
    width: 90%;
    border-radius: 0 20px 20px 0;
    border: none;
    background: #ffe09d;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.save span {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.save img {
    margin-right: 7px;
}
