@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #030303;
    background-color: #f1f1f1;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
#qr-reader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 90%;
    border-radius: 10px;
    padding: 1rem !important;
    position: static !important;
}
#html5-qrcode-button-camera-permission,
#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}
